body {

    background-color: #E0E1EB;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0px;

}

h1 {
    position: absolute;
    background-color: #31334D;
    color: white;
    font-size: 400%;
    margin: 0%;
    width: 100%;  

}
section.c1 {

    position: absolute;
    top: 10%;
    left: 10%;
    width: 35%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 10px;  
}

section.c2 {

    position: absolute;
    top: 10%;
    right: 10%;
    width: 35%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 10px;
}

h2 {
    position: relative;
    background-color: #31334D;
    top: -5%;
    color: white;
    font-size: 200%;
    margin-top: 0px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

h3 {

    background-color: #2CAB32;
    color: white;
    margin: 0;
    font-size: 140%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px;
    padding-left: 1%;

}

article {

    position: relative;
    top: 0%;
    left: 5%;
    border: 0px solid white;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    width: 90%;
    text-align: justify;
    }
    


p {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;

}

